@import url(http://fonts.googleapis.com/css?family=Actor);
@import url(http://fonts.googleapis.com/css?family=Rosarivo);

p {
  font-family: 'Rosarivo', serif;
}


h1,h2,h3,a {
  font-family: 'Actor', sans-serif;
}


#container{
  width: 100%;
}

header{
  background-color: #ccc;
  height: 80px;
}

.logo{
  float:left;
}

.logo h1 {
  font-size: 2em;
  margin-left: 100px;
}

.social {
  float:right;
}

#whoami{
  width: 100%;
  min-height: 250px;
  margin: 0 auto;
}

#introscript{
  margin: 0 auto;
}