@import url(http://fonts.googleapis.com/css?family=Actor);
@import url(http://fonts.googleapis.com/css?family=Rosarivo);

p, a, li {
  font-family: 'Rosarivo', serif;
  font-size: 16px;
}


h1,h2,h3 {
  font-family: 'Actor', sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
  margin: 5px;
}



/*Header stuff*/

header{
  background-color: #ccc;
  height: 80px;
}

.logo{
  float:left;
}

.logo h1 {
  font-size: 2em;
  margin-left: 100px;
}

.social {
  float:right;
}


/*first section*/

section{
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
}

#intro {
  background-image: url("/images/texture.png");
  padding: 50px;
  max-width: none;
}

#whoami{
  margin: 0 auto;
  max-width: 500px;

}



a{
  text-decoration: none;
  color:red;
}

#container{
  margin:0 auto;
  padding: 25px;
}

.content {
  text-align: center;
  min-width: 200px;
  width: 30%;
  height: 400px;
  padding: 50px;
  margin: 0 auto;
  display: inline-block;
  float: left;
}


.right{
  float: right;
}
img {
  width: 200px;
  height: auto;
}

#contact{
  min-width: 400px;
  text-align: center;
  height: 300px;
  width: 90%;
  display:inline-block;
  padding: 25px;
  overflow: hidden;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 150px;
  background: url(assets/me.jpg) no-repeat;
  float: left;
  display: inline-block;
}

#links{
  float:right;
  list-style: none;
  line-height: 2.5em;
  margin-right: 20px;
}

/*Media query for smaller screens*/

@media (max-width: 900px){
  header {
    max-height: 150px;
  }
  .content {
    display: block;
    margin: 0 auto;
    float: none;
    width: 60%;
    margin-bottom: 0px;
    margin-top: 0px;
    min-width: 400px;
  }

  .right {
    float:none;
  }
  #contact{
    overflow: hidden;
    text-align: center;
  }
  #links{
    float:right;
    line-height: 1.5em;
    margin-right: 5px;
    overflow: hidden;
    float: left;
  }
  li{
    display: block;
    float: left;
  }
}


