<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>

          <header>

            <div class="logo"><h1>Vincent Trivett</h1></div>

            <div class="social">

                <a href="https://github.com/trivett" target="blank"><img src="/images/github.png" alt="Github"></a>
                <a href="https://twitter.com/vincent_trivett" target="blank"><img src="images/twitter.png" alt="Twitter"></a>
                <a href="http://http://blinktag.tumblr.com/" target="blank"><img src="images/tumblr.png" alt="My Blog"></a>

            </div>

          </header>


          {{ content }}



    </body>
</html>
