<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>

          <header>

            <div class="logo"><h1>Vincent Trivett</h1></div>

            <div class="social">

                <a href="https://github.com/trivett" target="blank"><img src="/images/github.png" alt="Github"></a>
                <a href="https://twitter.com/vincent_trivett" target="blank"><img src="images/twitter.png" alt="Twitter"></a>
                <a href="http://blinktag.tumblr.com/" target="blank"><img src="images/tumblr.png" alt="My Blog"></a>

            </div>

          </header>


          {{ content }}


</body>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)

        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-22233905-1', 'vincenttrivett.com');
      ga('send', 'pageview');

</script>
</html>
